/* .home {
    text-align: center;
  } */

  /* .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 80%;
  }
   */
 .container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: inherit;
  width: 90vw;
  height : 100vh; */
}

.event-image {
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 600px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-width: 80%;
}

.form-group {
  margin-bottom: 15px;
}

.text-end {
  text-align: end;
}
